.flex-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.flex-child {
  display: flex;
  padding: 5px;
}

.blue-box {
  background-color: dodgerblue;
}

.grey-box {
  flex-direction: column;
  background-color: gainsboro;
  overflow-y: scroll;
}

.red-box {
  flex-direction: row;
  align-content: flex-start;
  background-color: red;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.green-box {
  align-items: flex-start;
  background-color: greenyellow;
  color: red;
}
